In [7]:
#Q1.

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#sort ages
ages.sort()
print("Sorted list:",ages)

#finding min
min=ages[0]

#finding max
last_index=len(ages)-1
max=ages[last_index]

print("Min age:",min)
print("Max age:",max)

#Adding min and max to list
ages.append(min)
ages.append(max)
print("Appended list:",ages)

#finding median
mid = len(ages)//2
print("Mid:",mid)
median=ages[mid]
print("Median:",median)

#finding average
avg=sum(ages)/len(ages)
print("Average:",avg)

#finding range
range=max-min
print("Range:",range)

Sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Appended list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Mid: 6
Median: 24
Average: 22.75
Range: 7

In [8]:
#Q2.

dog = {}

dog = {'name':'browny', 'color':'brown', 'breed':'pug', 'legs':'4', 'age':'3'}
print(dog)

student_dictionary = { 'first_name':'Saranya', 'last_name':'Tammana', 'gender':'F', 'age':'26',
                          'marital status':'M', 'skills':['Java', 'SQL', 'Python'],
                       'country':'US', 'city':'KC',
                        'address':{
                                'street':'Metcalf ave',
                                'zipcode':'66223'
                      }}
print("student_dictionary:",student_dictionary)
print(len(student_dictionary))


print(student_dictionary['skills'])
print(type(student_dictionary['skills']))

student_dictionary['skills'].append('HTML')
print(student_dictionary)

print(student_dictionary.keys())

print(student_dictionary.values())

{'name': 'browny', 'color': 'brown', 'breed': 'pug', 'legs': '4', 'age': '3'}
student_dictionary: {'first_name': 'Saranya', 'last_name': 'Tammana', 'gender': 'F', 'age': '26', 'marital status': 'M', 'skills': ['Java', 'SQL', 'Python'], 'country': 'US', 'city': 'KC', 'address': {'street': 'Metcalf ave', 'zipcode': '66223'}}
9
['Java', 'SQL', 'Python']
<class 'list'>
{'first_name': 'Saranya', 'last_name': 'Tammana', 'gender': 'F', 'age': '26', 'marital status': 'M', 'skills': ['Java', 'SQL', 'Python', 'HTML'], 'country': 'US', 'city': 'KC', 'address': {'street': 'Metcalf ave', 'zipcode': '66223'}}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Saranya', 'Tammana', 'F', '26', 'M', ['Java', 'SQL', 'Python', 'HTML'], 'US', 'KC', {'street': 'Metcalf ave', 'zipcode': '66223'}])

In [9]:
#Q3.

brothers = ( 'Sam', 'Santu')
sisters = ('Sind', 'Siri','Meera')
siblings = brothers + sisters
print(siblings)
print(len(siblings))
family_members = siblings + ('Sree','Jyo',)
print(family_members)
#  Tuple is immutable, hence cannot modify values in siblings tuple

('Sam', 'Santu', 'Sind', 'Siri', 'Meera')
5
('Sam', 'Santu', 'Sind', 'Siri', 'Meera', 'Sree', 'Jyo')

In [11]:
#Q4.

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(it_companies))

it_companies.add('Twitter')
print(it_companies)
it_companies.update(['Mindtree','Deloitte','TCS','United'])
print(it_companies)
it_companies.remove('TCS')
print(it_companies)

#discard() function will remove the specified element.
#remove() function will also the remove the specified element.
#The difference between discard() and remove() functions is that remove() function will raise an error if the specified element does not exist where as discard() function will not.

print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
AB = A.union(B)
print(AB)
BA = B.union(A)
print(BA)
print(A.symmetric_difference(B))
A.clear()
B.clear()
print(A)
print(B)

ages_set = set(age)
print(len(age))
print(len(ages_set))

7
{'Facebook', 'Twitter', 'Apple', 'Oracle', 'IBM', 'Google', 'Microsoft', 'Amazon'}
{'Deloitte', 'Oracle', 'IBM', 'Google', 'Amazon', 'Facebook', 'Microsoft', 'United', 'Mindtree', 'Apple', 'TCS', 'Twitter'}
{'Deloitte', 'Oracle', 'IBM', 'Google', 'Amazon', 'Facebook', 'Microsoft', 'United', 'Mindtree', 'Apple', 'Twitter'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
set()
set()
8
5

In [23]:
#Q5.

radius=30

area_of_circle = (3.14) * ((radius)**2)
print('Circle area is',area_of_circle)
circum_of_circle = 2 * (3.14) * (radius)
print('Circle circumference is',circum_of_circle)


print('Enter radius:')
radius= input()
area_of_circle = (3.14) * (int(radius)**2)
print('Circle area is',area_of_circle)

Circle area is 2826.0
Circle circumference is 188.4
Enter radius:
10
Circle area is 314.0

In [15]:
#Q6.

sentence = 'I am a teacher and I love to inspire and teach people'

sentence_set = set((sentence.split(" ")))

print(len(sentence_set))
print(sentence_set)

10
{'teach', 'people', 'love', 'am', 'inspire', 'a', 'teacher', 'to', 'I', 'and'}

In [14]:
#Q7.

print('Name\tAge\tCountry\tCity\n''Asabeneh 250\tFinland\tHelsinki')

Name	Age	Country	City
Asabeneh 250	Finland	Helsinki

In [16]:
#Q8.

radius = 10
area =  3.14 * radius ** 2

print('The area of a circle with radius 10 is {} meters square'.format(int(area)))

The area of a circle with radius 10 is 314 meters square

In [2]:
#Q9.

weight_lbs=[]
weight_kgs=[]

print('Enter the number of students:')
N=int(input())

#1lb = 0.453592 kg
x=1
while x<=N:
      print('Enter weight of student {}:'.format(int(x)))
      weight=int(input())
      weight_lbs.append(weight)
      x=x+1  
    
#Converting lbs to kgs list
for i in range(0,N):
       weight=weight_lbs[i]*0.453592
       weight_kgs.append(round(weight,2))

print(weight_kgs)

Enter the number of students:
3
Enter weight of student 1:
145
Enter weight of student 2:
100
Enter weight of student 3:
167
[65.77, 45.36, 75.75]

In [6]:
#Q10.

import pandas as pds 
import numpy as num   
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import StandardScaler 

X= num.array([[1,0],[2,0],[3,0],[6,0],[6,0],[7,0],[10,0],[11,0]])
print("Dataset: \n",X)
Y = num.array([0,0,1,1,1,0,0,0])
print("\n Class label for the dataset Y:",Y)
train_x, test_x, train_y, test_y= train_test_split(X, Y, test_size= 0.50, random_state=0,shuffle=False ) 
print("\nX Training Data : \n", train_x)
print("\nY Training Data :", train_y)

#Standardizing the data prior to performing classification 
stand_scalar= StandardScaler()    
train_x= stand_scalar.fit_transform(train_x)    
test_x= stand_scalar.transform(test_x) 

# KNN Classifier for k=3
classifier= KNeighborsClassifier(n_neighbors=3)  
#Fitting the data to classifier
classifier.fit(train_x, train_y)
#Predicting labels for x-test data
prediction= classifier.predict(test_x) 
print('\nPredicted class labels for Y testing data :',prediction)
     
#Confusion matrix with tested data
confusion_matrix = confusion_matrix(test_y, prediction)
print("\nConfusion Matrix:",confusion_matrix)

#total P+N can be calculated using sum(sum(conf_matrix))
total = sum(sum(confusion_matrix))
#Accuracy TN+TP / P+N
accuracy=(confusion_matrix[0,0]+confusion_matrix[1,1])/total
print ('\nAccuracy = ', accuracy)

#Sensitivity TP/(TP+FN)
sensitivity = confusion_matrix[1,1]/(confusion_matrix[1,0]+confusion_matrix[1,1])
print('Sensitivity = ', sensitivity )

#Specificity TN/(TN+FP)
specificity = confusion_matrix[0,0]/(confusion_matrix[0,0]+confusion_matrix[0,1])
print('Specificity = ', specificity)

Dataset:
 [[ 1  0]
 [ 2  0]
 [ 3  0]
 [ 6  0]
 [ 6  0]
 [ 7  0]
 [10  0]
 [11  0]]

 Class label for the dataset Y: [0 0 1 1 1 0 0 0]

X Training Data :
 [[1 0]
 [2 0]
 [3 0]
 [6 0]]

Y Training Data : [0 0 1 1]

Predicted class labels for Y testing data : [1 1 1 1]

Confusion Matrix: [[0 3]
 [0 1]]

Accuracy =  0.25
Sensitivity =  1.0
Specificity =  0.0